<h1>HI</h1>

<ul>
	<li><a href="/hi">Hi Page</a></li>
	<li><a href="/about">About</a></li>
	<li><a href="/recipe">Recipe</a></li>
	<li><a href="/users/john">Profile John</a></li>
	<li><a href="/users/heather">Hi Page</a></li>

</ul>