
<h2> List of projects </h2>

<ul>
  <% @projects.each do |the_project| %>
    <li>
    	<a href="/projects/<%= the_project.id %>">	
     	 <%= the_project.name %>
     	</a>

      <% if the_project.description != nil %>
        - <%= the_project.description %>
      <% end %>
    </li>
  <% end %>
</ul>