*{
	margin: 0;
	padding: 0;
}

img{
	display: block;
	width: 100%;
}


a{
	color: inherit;
	text-decoration: none;
}

.clearfix:after{
	content:"";
	display: block;
	clear: both;
}

#container{
	/*width: 80%;*/
	margin: 0 auto;
}
/*
	background: url(background.jpeg) no-repeat center;
	background-size: cover;*/