*{
	margin: 0;
	padding: 0;
}

img{
	display: block;
	width: 100%;
}


a{
	color: inherit;
	text-decoration: none;
}

.clearfix:after{
	content:"";
	display: block;
	clear: both;
}

.header-image {
	background-image: url("pizza_cowboy.gif");
	background-repeat: no-repeat;
	height: 250px;
}

@media screen and (min-width: 768px){
	.header-image{
	background-image: url("pizza_medium.gif");
	background-repeat: no-repeat;
	height: 700px;

}
}

@media screen and (min-width: 1200px){

	.header-image{
	background-image: url("pizza_large.gif");
	background-repeat: no-repeat;
	height: 1000px;
}

}

